@import url(https://fonts.googleapis.com/css?family=Special+Elite&display=swap);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap);

.hero-shot{font-family: 'Permanent Marker', cursive;}
.controversy{font-family: 'Special Elite'; color: red;}
.amazon-orange{color: #ff9900;}
.orange{color: orange;}
.teal{color: teal;}